button.red {
    background-color: #b22222;
  }
  
button.orange {
    background-color: #e6ac00;
  }
  
button.yellow {
    background-color: #e6e600;
  }
  
button.green {
    background-color: green;
  }
  
button.blue {
    background-color: blue;
  }
  
button.purple {
    background-color: purple;
  }